.tracksContainer{
    padding-inline: 100px;
    padding-block: 50px;
}

.trackSearch {
    display: flex;
    margin-bottom: 30px;

    input {
        all: unset;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: black;
        font-size: 16px;
        opacity: 0.85;
        padding: 10px;
        resize: vertical;
        border: 1px solid black;
        min-width: 200px;
        width: 100%;
        flex-grow: 1;
    }

    button {
        all: unset;
        background-color: lightskyblue;
        margin-left: 20px;
        padding: 10px;
        cursor: pointer;
    }
}

.mainGrig {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    row-gap: 20px;

    & > div {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }
}
