.trackPictureContainer {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px black;

    button {
        padding: 10px;
    }
}

.uploadPicture{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;

    & > span {
        position: relative;
        width: 70px;
        height: 70px;
        margin-inline: 10px;
        & > img {
            object-fit: cover;
            overflow: hidden;
        }
    }

    & > button {
        height: 100%;
    }
}

.navigationButtons {
    display: flex;
    justify-content: center;
    gap: 15px;

    & > button {
        padding: 8px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: rgb(185, 233, 249);
        cursor: pointer;
    }
}