.mainGrig {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.trackItem {
    display: flex;
    align-items: center;
    padding: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

    & > span {
        position: relative;
        width: 70px;
        height: 70px;
        margin-inline: 10px;
        & > img {
            object-fit: cover;
            overflow: hidden;
        }
    }

    .trackName {
        display: flex;
        flex-direction: column;
        width: 200px;
        h4 {
            font-size: 12;
            color: gray;
        }
    }

    .deleteIcon {
        margin-left: auto;
    }
}